<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastrar</h1>

    <form action="/cad" method="post" enctype="multipart/form-data">
        <label for="">Username:
            <input type="text" name="userName" id="">
        </label>
        <br><br>
        <label for="">Password:
            <input type="text" name="password" id="">
        </label>
        <br><br>
        <label for="">Profile photo:
            <input type="file" name="profilePhoto" id="">
        </label>
        <br><br>
        <input type="submit" value="ENVIAR">
    </form>
    
</body>
</html>