<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Crie suas postagens</h1>

    <form action="/createPost" method="post" enctype="multipart/form-data">
        <label for="">Titulo:
            <input type="text" name="title" id="">
        </label>
        <br><br>

        <label for="">Conteúdo:
            <input type="text" name="content" id="">
        </label>
        <br><br>

        <label for="">Imagem:
            <input type="file" name="postImg" id="">
        </label>
        <br><br>

        <input type="submit" value="Enviar postagem">
    </form>
</body>
</html>